body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514E;
}

h1
{
  margin: 0 auto 1.5rem;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3
{
  color: #11999E;
}

p
{
  margin-bottom: 0;
}

hr
{
  border-style: dotted none none;
  width: 6%;
  border-color: #EAF6F6;
  border-width: 10px;
  margin: 6rem auto;
}

.attributions
{
  font-size: .48rem;
  clear: left;
}

.attributions-right
{
  font-size: 0;
  clear: right;
  text-align: right;
  visibility: hidden;
}

.top-bento
{
  padding: 100px 20px 0;
  background-color: #EAF6F6;
  position: relative;
  /* padding-top: 100px;
  padding-bottom: 0; */
}

.top-bento-sub1
{
  position: relative;
  display: inline-block;
  bottom: -.25rem;
}

.bottom-bento
{
  background-color: #66BFBF;
  padding: 60px;
}

.intro
{
  text-align: left;
}

.profile
{
  line-height: 2;
  width: 30%;
  margin: 0 auto;
}

.top-cloud
{
  position: absolute; /*the parent's position is set as relative so the cloud is positioned absolute "relative" to the top-bento i thinkS*/
  right: -6rem;
  top: -1.57rem;
}

.bottom-cloud
{
  position: absolute; /*this take the cloud out of the HTML flow so it won't affect the position of the moutain*/
  bottom: 18.75rem;
  left: -6rem;
}

.mountain
{
  position: absolute;
}

#profile-pic
{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 75px;
}

.skill-row
{
  width: 50%;
  margin: 75px auto 75px; /*setting the margin to auto recenters the div, it got shifted left after reducing size to 50%*/
  text-align: left;
  line-height: 2;
}

.contact-me
{
  line-height: 2;
  width: 50%;
  margin: 75px auto;
  text-align: left;
}

.comp-img
{
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.plf-logo
{
  width: 25%;
  float: right;
  margin-left: 1.875rem;
}

.zoidberg
{
  float: left;
  margin: auto -4px auto -34px;

}


.copyright
{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}

.footer-link
{
  color: #11999E;
  text-decoration: none;
  font-weight: bold;
  /* margin: 10px 20px; */
}

.footer-link:hover
{
  color: #eaf6f6;
  text-decoration: none;
}

.contact-me-btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: "Ubuntu" sans-serif;
   font-size: 16px;
   font-weight: 200;
   padding: 3px 6px;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 31px;
}

.contact-me-btn:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
